.main-menu {
  // color: black;
  // background: color;
  // position: sticky;
  // top: 0;
  // width: 100%;
  // z-index: 5;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: #FFFFFF;
    margin-top: 12rem;
    margin-bottom: 2rem;
    // border-bottom: 1px solid grey;

    li {
      padding: 1rem 2rem;
      background-color: rgba(0,0,0, .1);

      &:hover {
        font-weight: 600;
      }
        
      a {
        text-decoration: none;
        color: black;
        font-size: 1.4em;
        font-weight: 400;
        margin: 0;
        display: block;
        transition: all .5s ease;
      }
    }
  }
}

.active-menu {
  border: 2px solid black;
}