.player-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1800px;
  @media all and (max-width: 1200px) {
    flex-direction: column;
    margin: 0 auto;
  }
  // min width
  @media all and (min-width: 1200px) {
    margin-top: 3rem;
  }

  @media all and (max-width: 600px) {
    margin-top: 2rem;
  }

  .audio-player {
    margin: 0 .5rem;
    padding: 0 .3rem;

    @media all and (max-width: 1200px) {
      margin: .2rem .2rem;
      padding: .5rem;
    }
    @media all and (max-width: 600px) {
      margin: .2rem .2rem;
      padding: .5rem;
    }
  }

  .audio-title {
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: .3rem;
    color: var(--color-green-dark);
    @media all and (max-width: 1200px) {
      margin-top: .2rem;
      margin-bottom: 0;
      padding-bottom: .1rem;
      letter-spacing: 2px;
      font-size: 17px;

      &:first-child {
        padding-top: -.3rem;
      }
    }
    @media all and (max-width: 800px) {
      margin-top: .2rem;
      margin-bottom: .2rem;
      padding-bottom: .2rem ;
      letter-spacing: 3px;
    }
    @media all and (max-width: 600px) {
      margin-top: .4rem;
      padding-top: .4rem ;
      letter-spacing: 0;
    }    
  }
}