#main-wrapper {
  margin-top: 0;
	background-color: #f2fff3;
}
/********* header section  */

#header {
	padding-bottom: 15px;
	padding-top: 30px;
	background-image: url(images/boat-sunset.jpg);
	height: 20rem;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#main-title {
	font-weight: bold;
	font-family: fantasy, cursive, sans-serif;
	padding: 5px 5px 5px 5px;
	background-color: rgba(0,0,0,.5);
	color: #f8f8ff;
	margin-top: 25px;
	max-width: 500px;
}
#sub-title {
	font-family: sans-serif, serif;
  font-weight: 500;
	padding: 3px 3px 3px 3px;
	background-color: rgba(0,0,0,.8);
	color: #f8f8ff;
	width: 200px;
	margin: 0 0 .2em 0;
  float: left;
}
.top-right {
	padding-top: 1em;
	margin: -2.3em auto 0 auto;
  width: 75%;
}
img#thumbnail {
	float: left;
}
p#horas {
	font-weight: 600;
	font-size: 1.3em;
	color: white;
	background-color: rgba(0,0,0,.5);
  float: left;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgba(0,0,0,1);
	position: fixed;
	top: 5px;
	width: 84%;
	max-width: 500px;
	z-index: 1;
}
nav ul li {
	float: left;
	border-right: 1px solid #f8f8ff;
	width: 20%;
}
nav ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: bold;
}
nav ul li a:hover {
	color: #111;
	background-color: #f8f8ff;
	text-decoration: none;
}
.active {
	color: #f8f8ff;
	background-color: #111;
}
#navItem4 {
	border-right: none;
}

/********* years & months */

#wrapper-2014 {
	background-image: url(images/boat-sunset.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-bottom: 40px;
}
#wrapper-2015 {
	background-image: url(images/boat-sunset.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-bottom: 40px;
}
#wrapper-2016 {
	background-image: url(images/boat-sunset.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  margin-bottom: 40px;
}
#wrapper-contact {
	background-image: url(images/boat-sunset.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  margin-bottom: 40px;
  padding-bottom: 10px;
}
#months2014, #months2015, #months2016 {
	background-color: rgba(0,0,0,0);
	border-radius: 10px;
	padding-bottom: 10px;
}
.month h3 {
	color: #9B1F2B;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 5px 15px 5px 15px;
	background-color: #f8f8ff;
	border: 1px solid #9B1F2B;
	margin: 25px auto 10px auto;
	width: 75%;
}
.month a {
	text-decoration: none;
}
.month p {
	color: #f8f8ff;
	background-color: rgba(0,0,0,.6);
	border: 1px solid #f8f8ff;
	padding-bottom: 8px;
	padding-top: 8px;
	font-family: fantasy, sans-serif;
	font-weight: 4px;
	letter-spacing: .4em;
	size: 15px;
	margin: .2em auto 0 auto;
	border-radius: 5%;
}
.month a p:hover {
	background-color: #9B1F2B;
}
.month a p:active {
  color: #f8f8ff;
}

/********* audio players */

#pageTitle2014, #pageTitle2015, #pageTitle2016 {
	color: #9B1F2B;
	padding: 5px 15px 5px 15px;
	background-color: #f8f8ff;
	border: 1px solid #9B1F2B;
	font-weight: bold;
	letter-spacing: 2px;
	width: 75%;
	margin: 20px auto 10px auto;
}
#audio-container2014, #audio-container2015, #audio-container2016  {
	background-color: rgba(0,0,0,0);
	border-radius: 10px;
	padding-top: 5px;
}
.audio-wrapper {
	padding-bottom: 10px;
	text-align: center;
}
.audio-title {
	color: #f8f8ff;
}

/********* Contact Form */
/* form {
  width: 40%;
  padding: 1em auto 1em auto;
  margin: 25px;
  color: #f8f8ff;
}
form fieldset {
  margin: 0 auto;
}
form legend {
  font-size: 2em;
  font-weight: bolder;
  color: #9B1F2B;
  background-color: #f8f8ff;
  width: 7em;
}
form input[type="text"], input[type="email"], textarea {
  color: black;
  color: #f8f8ff;
}
input[type="text"], input[type="email"], input[type="submit"], textarea {
  margin-bottom: .3em;
  padding: .3em;
  font-size: 1.1em;
  background-color: rgba(0,0,0,.6);
}
input[type="submit"] {
  background-color: #f8f8ff;
  color: green;
  font-size: 1.2em;
  width: 5em;
}
@media (max-width: 993px) and (min-width: 768px) {
  .top-right {
  	padding-top: 1em;
  	margin: 1em auto;
    width: 75%;
    clear: both;
  }
}

@media (max-width: 767px) {
  .top-right {
    /* padding-top: 0;
    padding-bottom: 0;
    margin: -0.4em 0;
    width: 75%;
    clear: both; */
		display: none;
  }
  /* #header {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}  */

/* @media (max-width: 600px) {
	#header {
		background-image: none; 
		background-color: #FFFB9A;
  }
  .audio-title {
    color: #9B1F2B;
  }
  #pageTitle2014, #pageTitle2015, #pageTitle2016 {
    border: none;
  }
  .month h3 {
    border: none;
  }
  .audio-wrapper {
  	padding-bottom: 10px;
  	text-align: center;
    border-bottom: 1px solid #9B1F2B;
  }
  #wrapper-2014 {
    background-image: none;
    background-color: #FFFB9A;
  }
  #wrapper-2015 {
    background-image: none;
    background-color: #FFFB9A;
  }
  #wrapper-2016 {
    background-image: none;
    background-color: #FFFB9A;
  } 
} */
