.main-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

//   @media all and (max-width: 800px) {
//     margin: 0;
//   }
//   /* background-image: url('./assets//images/boat-water.png');
// 	background-repeat: no-repeat;
// 	background-position: center center;
// 	background-attachment: fixed;
// 	-webkit-background-size: cover;
// 	-moz-background-size: cover;
// 	-o-background-size: cover;
// 	background-size: cover;
//   min-height: 100vh; */
}

  .main-wrapper {
    flex-grow: 1;
  }
