header {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url('../../assets/images/boat-sunset2.png');
	  background-repeat: no-repeat;
	  background-position: center center;
	  // background-attachment: fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
    height: 30rem;
    width: 100%;

    @media all and (max-width: 1200px) {
      height: 20rem;
    }

    @media all and (max-width: 800px) {
      height: 20rem;
    }

    @media all and (max-width: 600px) {
      height: 15rem;
    }

  .header-title {
    text-align: center;
    color: black;
    font-family: sans-serif;
    margin-top: 0;
    font-size: 45px;
    padding-top: 2rem;

    @media all and (max-width: 600px) {
      font-size: 27px;
      font-weight: bolder;
      padding-top: 1rem;
    }
  }
}